body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    padding-top: 40px;
    background-color: white;
}
  
.home {
    width: 100%;
    padding: 0px;
    max-width: 330px;
    align-self: end;
}
.separador {
  
    max-width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}