html {
  min-height: 100%;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(3, 126, 142);
}

.responsive {
  min-width: 100%;
  max-width: 200%;
  height: auto;
}

.barra {
  margin-top: 30%;
  display: flex;
  padding: 0%;
  flex-direction: row;
  background-color: #0098ac;
  min-width: 100%;
}

li {
  list-style-type: none;
}

.div_login{
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;

}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
a:link, a:visited{
  text.decoration: none;
  color: white;
}
a:active{
  text.decoration: none;
  color: white;
}
.bottom-box {
  background-color: red;
  position: absolute;
  left: 0;
  bottom: 0; /* this is the bottom end of the content, not the bottom end of the viewport*/
  width: 200px;
  height: 20px;
}

/* página de notificação */

.notif {
  background-color: rgb(232, 232, 232);
}

.cont_not {
  width: 87%;
  background-color: white;
  border-radius: 7px;
  padding: 2px;
}

.text1 {
  font-size: 17;
  color: rgb(174, 174, 174);
}
.text2 {
  text-align: right;
  color: rgb(174, 174, 174);
}

.btn_new {
  width: 350px;
  height: 60px;
  cursor: pointer;
  font-size: 150%;
  background: rgb(82, 223, 218);
  color: #fff;
  border: 0px;
}



/* new notification */

.new_notif {
  background-color: #fff;
}

.new_notif_form {

}

.nn_btn {
  background-color: #2ad7d1;
  width: 350px;
  height: 50px;
  cursor: pointer;
  font-size: 150%;
  color: #fff;
  border: 0px;
}

input[type=text], textarea{
  width: 100%;
  padding: 12px;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 15;
}

select{
  color: black;
}

.container {
  width: 87%;
  background-color: #f2f2f2;
  padding: 20px;
}


